<!--edit_profile.html-->
{% extends "base.html" %}
{% load static %}
 
<body style="font-family: 'Quicksand', sans-serif;">
    {% block content %}
        <h2>Edit Profile</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Update Profile</button>
        </form>
        <a href="{% url 'journal:profile_detail' %}" class="btn">Cancel</a>
    {% endblock %}
    {% block scripts %}
        <script src="{% static 'js/scripts.js' %}"></script>
    {% endblock %}
</body>
</html>
