{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
    <!--<link rel="stylesheet" href="{% static 'css/style.css' %}">-->
</head>
<body>

    <div class="container">
    <h1>Update Your Profile</h1>

    {% block content %}
    <h2>Update Profile</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }} <!-- This will render the form fields -->
        <button type="submit">Update Profile</button>
    </form>
    <a href="{% url 'journal:profile_detail' %}">Cancel</a>
    {% endblock %}
    </div>
</body>
</html>