{% extends 'base.html' %}

{% block content %}
<h2>ThoughtFlows</h2>

<div class="sort-links">
    <a href="?sort=created_at" class="sort-link">Newest First</a>
    <a href="?sort=updated_at" class="sort-link">Recently Updated</a>
</div>

<div>
<ul>
    {% for entry in entries  %}
    <li>
        <h3>{{ entry.title }}</h3>
        <p>{{ entry.content|truncatewords:15 }}</p>
        <small>{{ entry.created }}</small>
        <a href="{% url 'entry_detail' entry.id %}">View</a>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'entry_form' %}" class="btn">Add New Entry</a>
</div>
{% endblock %}