body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #1a1a1a;
    color: #f3d19e/*#f1f1f1*/;
    margin: 0;
    padding: 0;
}

p a {
    color: #ff9800;
    font-weight: 600;
    font-size: 1.1em;
}

p a:hover {
    color: #f3d19e;
    cursor: pointer;
}

nav {
    background: #333;
    color: #f1f1f1;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ff9800;
    list-style: none;
}

nav ul li a:hover {
    text-decoration: underline 4px;
    color: #f3d19e;
}

main {
    padding: 20px;
    text-align: center;
}

.main {
    padding: 2em;
}

.btn {
    background: #007bff;
    color: #f1f1f1;
    padding: 0.5em 1em;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #0056b3;
}

.delete-btn {
    background: #dc3545;
}

.delete-btn:hover {
    background: #c82333;
}

.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #f3d19e;
}

.btn-primary {
    background: #007bff;
    color: #f1f1f1;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sort-links {
    margin: 10px 0;
}

.sort-links a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}

.sort-links a:hover {
    text-decoration: underline;
}

/*Style for the login form*/
button {
    background: #f3d19e;
    border: none;
    border-radius: 6px;
    padding: 8px;
    margin-left: 85px;
    color: #004;
    font-weight: 600;
    width: max-content;
}

input {
    background: #f3d19e;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin-left: 25px;
    color: #004;
    font-weight: 600;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    box-shadow: rgba(68, 44, 0, 0.801) 4px 1px 4px 1px;
    border-radius: 5px;
    margin: 30px auto;
}

.signup {
    display: block;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(68, 44, 0, 0.801) 4px 1px 4px 1px;
    border-radius: 5px;
    margin: 30px auto;
}

